/**
 * @name dxvlbasic/base
 * @author darxival
 * @version 0.2.0
 * @invite khuFApaP6F
 * @description this is a base for the discord theme i want to make, it uses a lot of stuff from other people as of now though
 * @source https://github.com/darxival/dc/blob/main/dxvlbasic.theme.css
*/


/*imported css*/
@import url("https://nspc911.github.io/themes/vencord/BlurryBackdrop.theme.css"); /*this makes the background of some elements blurry*/
@import url("https://nspc911.github.io/themes/vencord/SettingsModal.theme.css"); /*this and the one following make the settings pannel better & blurry*/
@import url("https://nspc911.github.io/themes/vencord/BlurrySettingsModal.theme.css");
@import url("https://raw.githubusercontent.com/HeroOfDungeon/snippets/refs/heads/main/More%20Animations.css"); /*this makes the message options compact*/
/* @import url("https://ukriu.github.io/cssCord/Other/blandProfile.css"); /*this gets rid of all decoration*/
/* @import url("https://raw.githubusercontent.com/DiscordStyles/RadialStatus/refs/heads/deploy/RadialStatus.css"); /*this makes profiles square and puts status around the pfp*/

/*root setup*/
:root {
  /*blurbg&sm start*/
  /*blurradius*/
  --blrbg-blur-by: 1px;
  --blrsm-blur-by: 1px;
  /*blurdimming*/
  --blrbg-dimmness: 50;
  --blrsm-dimmness: 50;
  /*blurbg&sm end*/
  /*radialstatus start*/
  --rs-small-spacing: 0.5px;
  --rs-large-spacing: 2.5px;
  --rs-medium-spacing: 1.5px;
  --rs-small-width: 3.5px;
  --rs-medium-width: 5.5px;
  --rs-large-width: 7.5px;
  --rs-avatar-shape: 9%;
  --rs-online-color: rgba(56, 212, 82, 0.65);
  --rs-idle-color: rgba(212, 209, 56, 0.65);
  --rs-dnd-color: rgba(212, 56, 56, 0.65);
  --rs-offline-color: rgba(0, 0, 0, 0.65);
  --rs-streaming-color: rgba(103, 56, 212, 0.65);
  --rs-invisible-color: rgba(65, 65, 65, 0.35);
  --rs-phone-visible: none; /*blank to make visible!!*/
  --rs-phone-color: rgba(56, 212, 212, 0.65);
  /*radialstatus end*/
  /*messageops start*/
  --animation-speed: 0.2s;
  /*messageops end*/
}

/*topbar start*/
.title_c38106 {
  display: none;
}

.title_f75fb0 {
  padding: 0px !important;
  /* scale: 0.9; */
  padding-left: 0px !important;
  position: fixed;
  left: 12px;
  top: 22px;
  background: transparent !important;
  height: var(--custom-app-top-bar-height) !important;
  min-height: 0px;
  border: none !important;
  width: calc(92vw);
}

.followButton_f75fb0,
.topicClickTarget__6ec1a {
  -webkit-app-region: no-drag !important;
}

.base_c48ade:has(.bar_c38106[data-windows="true"]) .title_f75fb0 {
  width: calc(100vw - 140px)!important;
}

.children__9293f::after {
  background: linear-gradient(to right, transparent 0, var(--bg-base-tertiary) 100%)!important;
}
.topic__6ec1a {
  flex: none;
}
.visual-refresh {

  .searchBar__97492 {
    height: 28px;

    .DraftEditor-root {
      height: 100%;
      line-height: 22px;
    }

    .icon__97492 {
      width: 22px;
      height: 22px;
      padding-right: 4px;
    }
  }
/*topbar end*/
/*smallchannels start*/
.modeSelected__2ea32 .link__2ea32 {
  background-color: var(--brand-700)!important;
}
.link__2ea32 {
  padding-left: 13px;
  border-radius: 0px!important;

  &::before {
    width: 1px;
    left: 7px;
    background-color: rgba(255, 255, 255, 0.3);

  }
&:hover {
  background-color: var(--brand-800)!important;
}
  .icon__2ea32 {
    scale: 0.8;
  }

  .linkTop__2ea32 {
    gap: 2px;
  }
}

.wrapper__2ea32 {
  margin: 0px;
}

.name__2ea32,
.overflow__82b15 {
  font-size: 14px;
  font-weight: 550;
  line-height: 1;
}

.wrapper__29444 {
  padding: var(--space-xxs) var(--space-xs);
  padding-left: 2px;
  box-sizing: content-box;

  .mainContent__29444 {
    flex-direction: row-reverse !important;
    flex: none !important;
    gap: 20px;
  }

  .icon__29444 {
    scale: 1.42;
  }
}

.spine__5b40b {
  display: none !important;
}

.spineBorder__5b40b {
  left: 10px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3) !important;
  height: 100%;
}

.typeThread__2ea32 {
  margin-left: 10px !important;
  .link__2ea32 {
    padding-left: 20px!important;
  }
} /* has a compatability problem with betterfolders, and i like that one */
/*smallchannels end*/
/*namepos start*/
[class^="headerText"] {
  display: inline-flex;
}

[class^="headerText"] > span:has([class^="roleIcon"]) {
  order: 4;
}

[class^="headerText"] > span:has([class^="chipletContainerInner"])  {
  order: 2;
  margin: 0px;
  margin-right: 4px;

}

[class^="headerText"] > span:is([class^="username"]) {
  order: 3;
}

[class^="headerText"] > span[style="display: none;"] {
  order: 5;
}

[class^="headerText"] > .vc-message-decorations-wrapper {
  order: 6;
}

[class^="headerText"] > span:has(> [class^="newMemberBadge"]) {
  order: 7;
}

[class^="headerText"] > span:is([class^="botTag"]) {
  order: 1;
  margin: 1.5px;
  margin-right: 4px;
}
/*namepos end*/
/*antiactive start*/
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
/*antiactive end*/
/*smallmenu start*/
.layer_da8173 > .menu_c1e9c4 > .scroller_c1e9c4 {
  margin: -6px;
  .separator_c1e9c4 {
    margin: 0px 0px !important;
  }
  .wrapper_f563df {
    padding: 2px !important;
  }
  .item_c1e9c4{
    min-height: 18px;
    padding: 4px 8px;
  }
}
.wrapper_f563df {
  display: none;
}
/*smallmenu end*/
/*typingtop start*/
.visual-refresh {
    --custom-channel-textarea-text-area-height: 56px;
    .form_f75fb0 {
        margin: 0 8px 8px 8px;
        padding: 0;
        --chatbar-border-color: var(--border-faint);
    }
    .channelTextArea_f75fb0 {
        margin: 0;
        border-color: var(--chatbar-border-color);
        transition: none;
    }
    .base_b88801 {
        top: -24px;
        left: 0;
        right: 0;
        background-color: var(--chat-background-default);
        padding: 0 8px;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0;
        border: 1px solid var(--chatbar-border-color);
        border-bottom: none;
        transition: none;
        box-sizing: border-box;
    }
    .stackedBars__74017,
    .threadSuggestionBar__841c8 {
        border-color: var(--chatbar-border-color) !important;
    }
    .form_f75fb0:has(.base_b88801) {
        .channelTextArea_f75fb0 {
            border-radius: 0 0 var(--radius-sm) var(--radius-sm);
        }
    }
    .form_f75fb0:has(.channelTextArea__74017:focus-within) {
        --chatbar-border-color: var(--border-subtle);
    }
    .scrollerSpacer__36d07 {
        height: calc(24px + 8px);
    }
    .scroller__36d07::-webkit-scrollbar-track {
        margin-bottom: calc(20px + 8px);
    }
    .bottomBar__0f481 {
        margin-bottom: 24px;
    }
    .wrapper__44df5 {
        margin: 0;
        border-radius: var(--radius-sm);
    }
}
/*typingtop end*/
/*detailtime start*/
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}
/*detailtime end*/
/*fullscreensettings start*/
.sidebarRegion__23e6b {
  flex: none;
}
.contentColumn__23e6b, .customColumn__23e6b {
    max-width: 100%;
    min-height: 100%;
}
.accountProfileCard__1fed1 .mask__68edb mask circle {
  display: none;
}
.avatar__1fed1 {
  top: 110px;

}
/*fullscreensettings end*/
/*userpanelshrink start*/
.panels_c48ade {
  height: auto;
  width: 55px!important;
 display: flex!important;
 flex-direction: column;
 overflow: hidden;
 transition: width 1s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle)!important;
 &:has(.container_e131a9) {
  background-color: var(--notice-background-positive);
  border: 1px solid var(--border-normal);
 }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
   transition: height 0.5s;
}
.panels_c48ade:hover {
  width: 100%!important;
  width: 285px!important;
  height: auto!important;
  .wrapper_e131a9 {
    height: auto!important;
  }
}
.sidebar_c48ade {
  overflow: visible!important;
}
.container__2637a {
  padding-bottom: 0px!important;
}
.scroller__99e7c {
  margin-bottom: 0px!important;
}

.bottom__7aaec {
  bottom: 0px!important;
}
/*userpanelshrink end*/
/*dxvltopbuttons start*/
/*yes, this is the only thing here i actually made completly myself*/
.recentsIcon_c99c29,
.winButtons_c38106:before {
  display: none;
}
/*this is what got rid of the help button, i am very proud of it, ignore that it's messy*/
.anchor_edefb8 {
  width: 0px;
  height: 82px;
}

.winButton_c38106:nth-child(1) > svg {
  transition: 1.5s;
  color: rgb(125, 250, 125);
}

.winButton_c38106:nth-child(1):hover > svg {
  transform: rotate(-405deg);
}

.winButton_c38106:nth-child(2) > svg {
  transition: ease-out 8s;
  color: rgb(125, 125, 250);
}

.winButton_c38106:nth-child(2):hover > svg {
  transform: rotate(8640deg);
}

.winButton_c38106:nth-child(3) > svg {
  transition: 2.5s;
  color: rgb(250, 125, 125);
}

.winButton_c38106:nth-child(3):hover > svg {
  transform: rotate(720deg);
}

.winButton_c38106:hover > svg {
 color: rgb(225, 225, 225); 
}

.winButtons_c38106 > div {
  transition: 1.25s;
}

.winButtons_c38106 > div:hover {
  background: rgba(255, 235, 235, 0.12);
}
/*dxvltopbuttons end*/
